extends ../layouts/layout.pug
block main-content

    block top-content
        include ../patials/top-content.pug
    block animation-hover-block
        include ../patials/animate.pug
    block our-features
        include ../patials/our-features.pug
    block our-awesome-team
    block expectation
        include ../patials/expectation.pug
    block our-recent-works
        include ../patials/our-recent-works.pug
    block pricing-plans
        include ../patials/pricing-plans.pug
    block what-users-saying
        include ../patials/user-saying.pug
    block readytalk
        include ../patials/readytalk.pug
    block our-blog
        include ../patials/our-blog.pug
